<!DOCTYPE html>
<html>
<title>VA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="input" class="w3-bar-item w3-button">Depression Detection</a>
  <a href="textmining" class="w3-bar-item w3-button">Textmining</a>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1>Depression Detection Using Machine Learning</h1>
</div>

{% block content %}
{% endblock %}



<!-- Footer-->
<div class="w3-container w3-teal">
  <div class="w3-container w3-cell w3-mobile" style="width:85%">
    <h5>Developed By</h5>
    <div class="w3-container w3-cell">
      <p>Shantanu Unde</p>
      <p>Kiran Borkar</p>
    </div>
    <div class="w3-container w3-cell">
      <p>Aniket Sonawane</p>
      <p>Akash Khatri</p>
    </div>
  </div>
  <div class="w3-container w3-cell w3-mobile">
    <h5>Guided By</h5>
    <p>Dr.V.P.Vikhe</p>
  </div>
  </div>

</div>
      
</body>
</html>
